*.o
*.cmd
*.order
*.builtin
*.ko
.config
.missing-syscalls.d
.tmp_*
.version
Module.symvers
System.map
generated/
asm-offsets.s
lib.a
*.mod.c
include/config/
include/linux/version.h
bounds.s
.initramfs_data.cpio.d
vmlinux
