*.o
*.cmd
*.order
*.builtin
*.ko
.config
.missing-syscalls.d
.tmp_*
.version
Module.symvers
System.map
generated/
asm-offsets.s
lib.a
*.mod.c
include/config/
include/linux/version.h
bounds.s
.initramfs_data.cpio.d
vmlinux
*.swp
*.orig
tags
arch/arm/boot/Image
arch/arm/boot/uImage
arch/arm/boot/zImage
arch/arm/boot/compressed/ashldi3.S
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux.lds
arch/arm/kernel/vmlinux.lds
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
scripts/basic/fixdep
scripts/conmakehash
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf*
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
usr/gen_init_cpio
usr/initramfs_data.cpio
